body{
	background: white;
}

h1{
	background: yellow;
}

h2{
	background: green;
}

h3{
	background: pink;
}

h4{
	background:red;
}

h5{
	 background:blue;
}

h6{
	background: #00FA9A;
}

p{
	background: #B8860B;
}